name: kubectl test

on:
  workflow_dispatch:
  
jobs:
  kubectl-test:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2  

    - name: set up kubectl
      run: |
        echo ${{ secrets.KUBECONFIG }} > ~/.kube/config
        echo "::group::kubectl cluster-info"
          kubectl cluster-info
          echo "::endgroup::"
        run: |
          echo "::group::kube config tartalma"
          cat ~/.kube/config
          echo "::endgroup::"
    
    - name: run kubectl apply
      run: |
        kubectl apply -f k8s/nyitottkapuk-swdev-2026-deployment.yaml