name: kubectl test

on:
  workflow_dispatch:
  
jobs:
  kubectl-test:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2  

    - name: set up kubectl
      run: |
        echo "${{ secrets.KUBECONFIG_CONTENT_BASE64 }}" | base64 -d > ~/.kube/config  

    - name: check kubectl
      run: |
        kubectl config get-contexts
        kubectl config current-context
        kubectl cluster-info
        cat ~/.kube/config
    
    - name: run kubectl apply
      run: |
        kubectl apply -f k8s/nyitottkapuk-swdev-2026-deployment.yaml
