name: kubectl test

on:
  workflow_dispatch:
  
jobs:
  kubectl-test:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2  

    - name: set up kubectl
      run: |
        mkdir -p ~/.kube
        python3 - <<'EOF'
        import base64, os
        data = os.environ["KUBECONFIG_CONTENT_BASE64"]
        decoded = base64.b64decode(data)
        with open(os.path.expanduser("~/.kube/config"), "wb") as f:
            f.write(decoded)
        EOF
        chmod 600 ~/.kube/config
        env:
            KUBECONFIG_CONTENT_BASE64: ${{ secrets.KUBECONFIG_CONTENT_BASE64 }}

    - name: check kubectl
      run: |
        kubectl config get-contexts
        kubectl config current-context
        kubectl cluster-info
        cat ~/.kube/config
    
    - name: run kubectl apply
      run: |
        kubectl apply -f k8s/nyitottkapuk-swdev-2026-deployment.yaml
